In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [28]:
df = pd.read_csv(r'C:\Users\Thanh Long\Desktop\AI\data\vehicles.csv',encoding='latin1')

In [29]:
df

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,7301591192,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,23590,2019.0,nissan,maxima s sedan 4d,good,6 cylinders,...,NaN,sedan,NaN,https://images.craigslist.org/00o0o_iiraFnHg8q...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:31-0600
426876,7301591187,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2020.0,volvo,s60 t5 momentum sedan 4d,good,NaN,...,NaN,sedan,red,https://images.craigslist.org/00x0x_15sbgnxCIS...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:29-0600
426877,7301591147,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,34990,2020.0,cadillac,xt4 sport suv 4d,good,NaN,...,NaN,hatchback,white,https://images.craigslist.org/00L0L_farM7bxnxR...,Carvana is the safer way to buy a car During t...,NaN,wy,33.779214,-84.411811,2021-04-04T03:21:17-0600
426878,7301591140,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,28990,2018.0,lexus,es 350 sedan 4d,good,6 cylinders,...,NaN,sedan,silver,https://images.craigslist.org/00z0z_bKnIVGLkDT...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:11-0600
426879,7301591129,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2019.0,bmw,4 series 430i gran coupe,good,NaN,...,NaN,coupe,NaN,https://images.craigslist.org/00Y0Y_lEUocjyRxa...,Carvana is the safer way to buy a car During t...,NaN,wy,33.779214,-84.411811,2021-04-04T03:21:07-0600

In [40]:
df.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

In [41]:
df.nunique()

id              426880
url             426880
region             404
region_url         413
price            15655
year               114
manufacturer        42
model            29667
condition            6
cylinders            8
fuel                 5
odometer        104870
title_status         6
transmission         3
VIN             118264
drive                3
size                 4
type                13
paint_color         12
image_url       241899
description     360911
county               0
state               51
lat              53181
long             53772
posting_date    381536
dtype: int64

In [42]:
df.describe().apply(lambda s:s.apply(lambda x: format(x,'f')))

,id,price,year,odometer,county,lat,long
count,426880.000000,426880.000000,425675.000000,422480.000000,0.000000,420331.000000,420331.000000
mean,7311486634.224333,75199.033187,2011.235191,98043.331443,nan,38.493940,-94.748599
std,4473170.412559,12182282.173604,9.452120,213881.500798,nan,5.841533,18.365462
min,7207408119.000000,0.000000,1900.000000,0.000000,nan,-84.122245,-159.827728
25%,7308143339.250000,5900.000000,2008.000000,37704.000000,nan,34.601900,-111.939847
50%,7312620821.000000,13950.000000,2013.000000,85548.000000,nan,39.150100,-88.432600
75%,7315253543.500000,26485.750000,2017.000000,133542.500000,nan,42.398900,-80.832039
max,7317101084.000000,3736928711.000000,2022.000000,10000000.000000,nan,82.390818,173.885502

In [43]:
df.condition.unique()

array([nan, 'good', 'excellent', 'fair', 'like new', 'new', 'salvage'],
      dtype=object)

In [44]:
def clean_condition(row):
    good=['good,fair']
    excellent = ['excellent','like new']
    
    if row.condition in good:
        return 'good'
    if row.condition in excellent:
        return 'excellent'
    return row.condition

def clean_df(playlist):
    df_cleaned=df.copy()
    df_cleaned['condition']=df_cleaned.apply(lambda row: clean_condition(row),axis=1)
    return df_cleaned

df_cleaned=clean_df(df)
df_cleaned.condition.unique()

array([nan, 'good', 'excellent', 'fair', 'new', 'salvage'], dtype=object)

In [45]:
df_cleaned=df_cleaned.copy().drop(['url','image_url','county'],axis=1)

In [46]:
df['id']/1040

0         6.944900e+06
1         6.941242e+06
2         6.944036e+06
3         6.944491e+06
4         6.933062e+06
              ...
426875    7.020761e+06
426876    7.020761e+06
426877    7.020761e+06
426878    7.020761e+06
426879    7.020761e+06
Name: id, Length: 426880, dtype: float64

In [49]:
NA_val

id                   0
region               0
region_url           0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
description         70
state                0
lat               6549
long              6549
posting_date        68
dtype: int64

In [50]:
NA_val=df_cleaned.isna().sum()
col_pass=[]
def na_filter(na,threshold=0.4):
    for i in na.keys():
        if na[i]/df_cleaned.shape[0]<threshold:
            col_pass.append(i)
    return col_pass
df_cleaned_tmp=df_cleaned.copy()
df_cleaned=df_cleaned_tmp[na_filter(NA_val)]

In [51]:
df_cleaned.columns

Index(['id', 'region', 'region_url', 'price', 'year', 'manufacturer', 'model',
       'fuel', 'odometer', 'title_status', 'transmission', 'VIN', 'drive',
       'type', 'paint_color', 'description', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

Loại bỏ các giá trị ngoại lệ

In [52]:
df_cleaned=df_cleaned[df_cleaned['price'].between(1000,10000)]
df_cleaned=df_cleaned[df_cleaned['year']>1990]
df_cleaned=df_cleaned[df_cleaned['odometer']<900000]
df_cleaned.describe().apply(lambda x : x.apply( lambda s: format(s,'f')))

,id,price,year,odometer,lat,long
count,122952.000000,122952.000000,122952.000000,122952.000000,122523.000000,122523.000000
mean,7311896949.674865,6030.504668,2007.522651,140663.324094,38.679672,-92.202602
std,4280122.080399,2430.422623,5.031950,57193.629337,5.394953,17.453119
min,7301584031.000000,1000.000000,1991.000000,0.000000,-56.527029,-159.707445
25%,7308824192.250000,4000.000000,2005.000000,105784.000000,35.258566,-104.927900
50%,7313279133.000000,5997.000000,2008.000000,139000.000000,39.829891,-85.839100
75%,7315409920.250000,7995.000000,2011.000000,173700.000000,42.316052,-79.363461
max,7317101084.000000,10000.000000,2022.000000,868536.000000,82.252826,167.629911

Xoá các hàng có giá trị NaN

In [54]:
df_cleaned=df_cleaned.dropna(axis=0)
df_cleaned.shape

(27621, 20)

In [57]:
df_cleaned.plot(kind='boxplot', x='year', y='price')

ValueError: boxplot is not a valid plot kind